@font-face {
font-family: "Enthalpy"; 
src: url("https://tds26.ru//catalog/view/theme/default/stylesheet/Enthalpy.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

body {
    font-family:'Open Sans', Arial, sans-serif;
	font-weight: 400;
	color: #000000;
	font-size: 16px;
	line-height: 22px;
	width: 100%;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(39, 39, 39);
	font-family: "Enthalpy";
	margin-bottom: 30px;
}

.category_h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 30px;
}
.category_ul {
    margin-bottom: 20px;
}
.category_a {
    font-size: 20px;
}
.category_li {
     margin-bottom: 15px;
    list-style-type: none;
}
.input-group-addon {
	border: none;
	background-color: #fff;
	color:#000000;
}
.fa {
	font-size: 20px;
}
.famenu {
	font-size: 34px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #000000;
    font-size: 16px;
}
a:hover {
	text-decoration: none;
	color: #3FA852;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #000000;
	background-color: #3FA852;
}
/* top */
#top {
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #343434;
    font-weight: 400;
/*	text-shadow: 0 1px 0 #FFF;*/
	text-decoration: none;
}
.btn-group-sm>.btn, .btn-sm {
    
border-radius: 0px;
}
#top .btn-link:hover, #top-links a:hover {
	color: #39C853;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
    line-height: 14px;
}
#top-links {
	margin-top: 16px;
}
#top-links a + a {
	margin-left: 15px;
}
header {
    margin-bottom: 5px;
    padding-top: 5px;
}
/* logo */
#logo {
	margin: 0 0 5px 0;
}
#logo h1 {
	font-size: 28px;
	margin-bottom: 20px;
	margin-top: -5px;
}
/* search */
#search {
	margin-top: 8px;
	margin-bottom: 10px;
	width: 100%;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
	border-radius: 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	border: 0;
	background-color: #00000000;
	right: 44px;
}
.searchadmin {
    border: 1px;
    background-color: #e9e9e9;
    border-radius: 0px;
}
.btn-default:hover {
    color: #0000000;
    background-color: #c1c1c1;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	border-radius: 0px;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#cart.open > .btn {
	background-image: none;
	color: #000000;
	box-shadow: none;
	text-shadow: none;
}
#cart > .btn:hover {
    background-color: #c1c1c1;
	color: #000000;
}
#cart.open > .btn:hover {
	color: #ffffff;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
	width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
	min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: #ffffff;
	position: absolute;
    z-index: 1000;
    height: 200%;
    top: 0;
    left: 0;
    width: 100%;
}
#menu .nav > li > a {
	font-weight: 400;
	color: #000000;
    padding: 2px 2px 2px 10px;
	min-height: 15px;
	background-color: transparent;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: #ff0000;
	color: #ffffff;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 200px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 25px;
	color: #333333;
	font-size: 14px;
    box-shadow: 1px 2px 1px 0px rgb(0 0 0 / 77%);
}
#menu .dropdown-inner li a:hover {
background-color: #ff0000;
	color: #ffffff;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #000000;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #ffffff;
	padding: 2px 18px;
	float: right;
	background-color: #ff0000;
	border-radius:0px;
	border-color: #ff0000;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ff0000;
	background-color: #ffffff;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer p {
	color: #000;
}
footer a {
	font-size: 14px;
}
footer a:hover {
	color: #3FA852;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
	box-shadow: 0 0 10px 2px rgb(0 0 0 / 9%);
    border-radius: 0px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
    background-color: #ffffff;
}

@media (max-width: 768px) {
 .breadcrumb {display: none;}
}

.breadcrumb i {
	font-size: 15px;
}
.breadcrumb a:hover {
	color: #488c26;
}
.breadcrumb > li {
/*	text-shadow: 0 1px 0 #FFF;*/
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '-';
	display: block;
	position: absolute;
	top: 0px;
	right: -10px;
	width: 13px;
	height: 64px;
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: rgb(0, 0, 0);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 16px;
}
.btn-primary {
	color: #ffffff;
	background-color: #3FA852;
	border-radius: 0px;
	border: 0;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #FF6A00;
	text-shadow: none;
}
.form-control {
    border-radius: 0px;
    border: 0;
}

.form-control:focus {
    box-shadow: 0 0 10px rgb(179 179 179 / 50%);
}
.nav-tabs>li>a {
    border-radius:1px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	background-color: #fb6862;
	border-radius: 0px;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgb(0, 0, 0);
	cursor: pointer;
	color: #000000;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
	color: #000000;
	border-color: #000000;

}
.btn-link:hover {
	color: #488c26;
	border-color: #488c26;
	text-decoration: none;
}
.btn-inverse {
	color: #ffffff;
	background-color: #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #fff;
    color: #000000;
}
/* list group */
.list-group a {
	color: #000000;
	padding: 8px 12px;
	border-radius: 0px;
}

.list-group-item:last-child {
	border-bottom-left-radius: 0px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #000000;
	background: #ffffff;
	border-radius: 0px;

}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	margin-bottom: 20px;
	overflow: auto;
	border: 1px solid #BBBBBB;
}

.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: 600;
	font-family: 'Open Sans', Arial, sans-serif;
	height: 10rem;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 190px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 250px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 250px;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: rgb(200, 255, 0);
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: rgb(200, 255, 0);
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	margin-top: 20px;
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 700;
	font-family: 'Open Sans', Arial, sans-serif;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #ff4343;
	text-decoration: line-through;
	margin-left: 10px;
	font-size: 20px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 100%;
	border: none;
    border-color:#fff ;
	border-radius: 0px;
	display: inline-block;
	float: left;
	background-color: #3FA852;
	color: rgb(255, 255, 255);
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}
.product-thumb .button-group button + button {
	width: 50%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	background-color: #FF6A00;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0px;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 50%;
	
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 100%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}
.alert-success {
	position: fixed;
    z-index: 999;
    top: 2%;
    left: 5%;
    right: 5%;
    width: 90%;
}
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
   margin-right: 0px; 
}

.border-0 {
border: 0;
}

.list-inline>li {
    padding-right: 5px;
   /* padding-left: 15px;*/
}

img.small-rotate2 {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
img.small-rotate2:hover {
  -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
}

img.small-rotate4 {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
img.small-rotate4:hover {
  -webkit-transform: rotate(13deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(13deg); /* Градусы поворота можно изменить по необходимости */
}

img.small-rotate1 {
  -webkit-transition: all 1s ease;
          transition: all 1s ease;
}
img.small-rotate1:hover {
  -webkit-transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(15deg); /* Градусы поворота можно изменить по необходимости */
}

.hover-image-scale {
/*  display: inline-block; */
  overflow: hidden; /* Скрываем всё за контуром */
}
.hover-image-scale img {
  transition: 1s; /* Время эффекта */
  display: block; 
}
.hover-image-scale img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

.tekst_sverhu_kartinki {
    position: absolute;
    top: 5%;
    left: 5%;
    text-transform: uppercase;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 600;
    z-index: 1;
    text-align: left;
}
.tekst_snizu_kartinki {
    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 500;
    z-index: 1;
    text-align: left;
}
.btn-danger {
    border: 0;
}
.btn-danger:hover {
     border: 0;
}
